<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>RegiPhone - 500</title>
  <link href="static/bulma.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item""><img src="static/nsitxt.png" width="112" height="28"></a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{url_for("home")}}">Page d'accueil</a>
        <a class="navbar-item" href="{{url_for("registerphone")}}">Enregistrer un numéro</a>
        <a class="navbar-item" href="{{url_for("searchphone")}}">Trouver un numéro</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Plus</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="aboutme">A propos</a>
            <hr class="navbar-divider">
            <a class="navbar-item is-danger" href="404">Signaler un problème</a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <!--<a class="button is-dark" href="s_wip.html"><strong>S'inscrire</strong></a>-->
            <a class="button is-light" href="404">Se connecter</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Commencement de la page -->
  <h1 class="title is-1">
    500
  </h1>
  <div class="content" align="center">
    <figure class="image is-128x128">
      <img src="static/placeholderwarning.png">
    </figure>
  </div>
  <div class="columns">
    <div class="column has-text-centered"><span class="tag is-danger is-large"><strong>Une erreur du Serveur Interne s'est produite. Si cette erreur persiste, veuilliez contacter l'hébergeur.</strong></span></div>
  </div>
  <script src="script.js"></script>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Ce site n'est pas à titre informateur et est créé par <strong>COLLE Liam</strong> du <a href="https://www.lyc-perrin.ac-aix-marseille.fr/"><strong>Lycée Jean Perrin</strong></a> pour la <u>spécialité de NSI</u>.
      </p>
    </div>
  </footer>
</body>

</html>