<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
</head>
<body>
    <ul>
    <p>Bienvenue sur le registre téléphonique.</p>
    <p>
        <a href="{{url_for("registerphone")}}">Accéder à la page d'enregistrement</a>
    </p>
    <p>
        <a href="{{url_for("searchphone")}}">Accéder à la page de recherche</a>
    </p>
    <p>
        <a href="{{url_for("adminmode")}}">Accéder au panneau d'administration</a>
    </p>
    </ul>
</body>
</html>