<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>RegiPhone - Enregistrer un numéro de téléphone</title>
    <link href="static/bulma.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item""><img src="static/nsitxt.png" width="112" height="28"></a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{url_for("home")}}">Page d'accueil</a>
        <a class="navbar-item" href="{{url_for("registerphone")}}">Enregistrer un numéro</a>
        <a class="navbar-item" href="{{url_for("searchphone")}}">Trouver un numéro</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Plus</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="aboutme">A propos</a>
            <hr class="navbar-divider">
            <a class="navbar-item is-danger" href="404">Signaler un problème</a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <!--<a class="button is-dark" href="s_wip.html"><strong>S'inscrire</strong></a>-->
            <a class="button is-light" href="404"><strong>Se connecter</strong></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Commencement de la page -->
<form class="box" action="{{url_for("registrationresult")}}"  method="post">
    <h1 class="title is-1">
      Enregistrez un Numéro de Téléphone
    </h1>
    <div class="field">
        <label for="nom"><strong>Nom</strong></label>
        <div class="control">
            <input class="input is-medium is-rounded" type="text" placeholder="Nom" name="nom" id="nom" required/>
        </div>
    </div>
    <div class="field">
        <label for="prenom"><strong>Prenom</strong></label>
        <div class="control">
            <input class="input is-8 is-medium is-rounded" type="text" placeholder="Prénom" name="prenom" id="prenom" required/>
        </div>
    </div>
    <div class="field">
        <label for="telephone"><strong>Téléphone</strong></label>
        <div class="control">
            <input class="input is-8 is-medium is-rounded" type="tel" placeholder="N° de Téléphone" name="telephone" id="telephone" required/>
        </div>
    </div>
    <button type="submit" class="button is-primary">Valider données</button>
</form>
</body>
</html>